<a href="https://colab.research.google.com/github/glcn35/statistics/blob/main/Statistics_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [7]:
import numpy as np
#import 
#import

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [4]:
samples =np.ramdom.normal(1000)

NameError: ignored

Compute the **mean**, **median**, and **mode**

In [2]:
mean =np.mean(samples)
median =np.median(samples)
mode =stats.mode(samples)

NameError: ignored

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [1]:
min = np.min(samples)
max =np.max(samples)
q1 =np.percentile(samples,25)
q3 =np.percentile(samples,75)
iqr =q3-q1

NameError: ignored

In [ ]:
iq1 = stats.iq1(samples)

Compute the **variance** and **standard deviation**

In [ ]:
variance = 
std_dev =

Compute the **skewness** and **kurtosis**

In [ ]:
skewness =
kurtosis =

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [8]:
x = np.arange(10,20)
print(x)

[10 11 12 13 14 15 16 17 18 19]

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [10]:
y = np.random.randint(1,100,10)
y

array([24, 97, 37,  2, 69, 21, 27, 22, 48, 64])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [ ]:
r =

## Pandas Correlation Calculation

Run the code below

In [11]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])

NameError: ignored

Call the relevant method  to calculate Pearson's r correlation.

In [ ]:
r =

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [ ]:
rho =

## Seaborn Dataset Tips

Import Seaborn Library

In [12]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [13]:
tips = sns.load_dataset("tips")

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [14]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [15]:
tips.corr("pearson")

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [ ]:
sns.set()
sns.pairplot(tips,)